p {
    color: black;
    font-size: 24px;
}

.movie-container {
    background-color: gainsboro;
    border: solid;
}

#movie-poster {
    display: block;
    margin: auto;
    margin-top: 15px;
    border: 10px solid white;
}

#movie-title {
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
}