body {
    font-family: Georgia, 'Times New Roman', Times, serif
}
p {
    color: black;
    font-size: 24px;
}

header {
    background-color: whitesmoke
}


.menu {
    display: flex;

};
ul {
    list-style :none;
}

.menu a {
    margin-right: 38px;
    text-decoration: none;
    color: black;
    font-size: large;
}

#icon{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    position: absolute;
    padding: 1;
    
}
@media screen and (device-width: 375px){
    #icon {
        margin-bottom: 15%;
    }
  }

/* #poster1, #poster2, #poster3{
    display: block;
    width: 50%;
} */

#main{
    font-size: 25px;
    margin: 5px;
}

.card {
    display: inline-flex;
    align-items: center;
    gap: 5px;

}

.movie-container {
    /* background-color: gainsboro; */
    border: solid;
}

#movie-poster {
    display: block;
    margin: auto;
    margin-top: 15px;
    border: 10px solid white;
}

#movie-year,
#movie-rating,
#movie-description {
    color: black;
}

#movie-title {
    font-size: 60px;
    /* font-family: 'Roboto Condensed', sans-serif; */
}

#movie-description {
    width: 60%;
    margin-top: 20px;
}

#movie-trailer,
#movie-streaming {
    font-size: 24px;
}